[submodule "pt-v5-vault/lib/forge-std"]
	path = pt-v5-vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pt-v5-vault/lib/openzeppelin-contracts"]
	path = pt-v5-vault/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "pt-v5-vault/lib/erc4626-tests"]
	path = pt-v5-vault/lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
[submodule "pt-v5-vault/lib/owner-manager-contracts"]
	path = pt-v5-vault/lib/owner-manager-contracts
	url = https://github.com/pooltogether/owner-manager-contracts
[submodule "pt-v5-vault/lib/brokentoken"]
	path = pt-v5-vault/lib/brokentoken
	url = https://github.com/GenerationSoftware/brokentoken
